{
  "singleQuote": true,
  "printWidth": 110,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "*.jsonc"
      ],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
